@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-fascinate: var(--font-fascinate-inline);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Classes */
@layer components {
  .skeleton-shimmer {
    @apply before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_2s_infinite] before:bg-linear-to-r before:from-transparent before:via-white/60 before:to-transparent;
  }

  .custom-scroll::-webkit-scrollbar {
    @apply h-1;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    @apply bg-neutral-800 rounded-2xl absolute h-1;
  }

  .custom-scroll::-webkit-scrollbar-track {
    @apply bg-neutral-600 rounded-xs;
  }
}
